.wrapper {
  margin: 0 auto;
  width: 1280px;
  height: 100%;
  border: 1px red solid;
}

#main-text-area {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 340px;
}

.keyboard {
  width: 100%;
  height: 0;
  background-color: rebeccapurple;
  background-color: 1px red solid;
  display: none;
  transition: 1s linear;
}

.first-line {
    display: flex;
}

.second-line {
    display: flex;
}

.third-line {
    display: flex;
}

.four-line {
    display: flex;
}

